/* Start Navbar */
header .navbar{
    height: 80px;
}
header .navbar nav{
   background-color: #f0f0f0;
   padding: 20px 0px;
   box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
   position: fixed;
   width: 100%;
   z-index: 9999;
}

header .navbar  nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar nav .container .links{
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 18px;
}

header .navbar nav .container .links li a{
    position: relative;
}

header .navbar nav .container .links li a::before{
   content:"";
   background-color:var(--primary-color);
   width: 0%;
   height: 3px;
   position: absolute;
   bottom: -3px;
   transition: all ease 0.3s
}

header .navbar nav .container .links li a:hover,
.active{
   color: var(--primary-color);
}

header .navbar nav .container .links li a:hover::before,
header .navbar nav .container .links li a.active::before{
    width: 65%;
}

.menu,
.close{
    display: none;
}


/* Start featured-products */
.featured-products .container .title{
    text-align: center;
    margin: 0px 0px 50px 0px;
}
.featured-products .container .title h2{
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.featured-products .container .products{
   display: grid;
   grid-template-columns: repeat(4,auto);
   justify-content: center;
   gap: 40px;
}
.featured-products .container .products .product-card,
.featured-products .container .products .product-card .image img{
    border-radius: 20px;
}

.featured-products .container .products .product-card{
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.04);
    transition: all ease 0.4s;
}

.featured-products .container .products .product-card .image img{
    width: 100%;

}

.featured-products .container .products .product-card .info{
    position: relative;
    cursor: default;
}

.featured-products .container .products .product-card .info p{
    font-size: 16px;
}

.featured-products .container .products .product-card .info .price span,
.featured-products .container .products .product-card .info h4:hover{
    color: var(--primary-color);
}

.featured-products .container .products .product-card .info h4{
    font-size: 18px;
    font-weight: 900;
    transition: color ease 0.2s;
}

.featured-products .container .products .product-card .info .stars{
    color: gold;
    margin: 3px 0px
}

.featured-products .container .products .product-card .info .price span{
    font-size: 20px;
    font-weight: 700;
}


.featured-products .container .products .product-card .info .card-shopping{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5px;
    bottom: 4px;
    cursor: pointer;
}
.featured-products .container .products .product-card .info .card-shopping i{
    color:var(--primary-color); 
    font-size: 18px;
}
.featured-products .container .products .product-card .info .card-shopping:hover i{
    animation: UpDown 0.2s  ease infinite alternate;
}
@keyframes UpDown {
    0%{
      transform: translateY(3px);
    }
    100%{
      transform: translateY(-3px);  
    }
}

/* Start Sign Up */
.sign-up{
   background-image: url('../img/banner/b14.png');
   background-position: 20% 30%;
   background-repeat: no-repeat;
   background-color: #041e42;
   height: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.sign-up .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.sign-up .container .info {
    width: 50%;
}
.sign-up .container .info h4{
   font-size: 35px;
   color: #FFF;
   font-weight: 900;
   margin-bottom: 10px;
   text-transform: capitalize;
}
.sign-up .container .info p{
   font-weight: 600;
   color: #839296;
}
.sign-up .container .info p span{
    color:gold;
}

.sign-up .container .field{
    background-color: #FFF;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    overflow: hidden;
}

.sign-up .container .field input,
.sign-up .container .field button{
   border: none;
   font-size: 18px;
}

.sign-up .container .field input{
    outline: none;
    text-indent: 18px;
}
.sign-up .container .field input::placeholder{
    color: #999
}

.sign-up .container .field button{
    background-color: var(--primary-color);
    color: #FFF;
    padding: 17px 30px;
    cursor: pointer;
}


/* Start footer */

.pay-footer{
    padding: 5% 0;
    height: 450px;
}
.pay-footer .container{
    display: flex;
    justify-content: space-between;
}

.pay-footer .container .pay-footer-child1{
    width: 31%;
}

.pay-footer .container p{
    margin: 10px 0px;
    font-size: 17px;
}
.pay-footer .container .title,
.pay-footer .container p span{
    color: #000;
}
.pay-footer .container .title{
    font-size: 20px;
    margin: 20px 0px;
    font-weight: 700;
}

.pay-footer .container .pay-footer-child1 .follow-us{
    cursor: pointer;
}

.pay-footer .container .pay-footer-child1 .follow-us .icons{
    display: flex;
    gap: 10px;
}

.pay-footer .container .pay-footer-child1 .follow-us .icons .icon,
.pay-footer .container .pay-footer-child1 .follow-us .icons .icon i{
    transition: 0.3s;
}
.pay-footer .container .pay-footer-child1 .follow-us .icons .icon{
    background-color: #EEE;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
}
.pay-footer .container .pay-footer-child1 .follow-us .icons .icon:hover{
    background-color: #f00
}

.pay-footer .container .pay-footer-child1 .follow-us .icons .icon i{
    font-size: 19px;
    color: grey;
}
.pay-footer .container .pay-footer-child1 .follow-us .icons .icon:hover i{
    color: #FFF;
}


.pay-footer .container .pay-footer-child2{
    width: 13%;
}

.pay-footer .container .pay-footer-child3{
    width: 31%
}

.pay-footer .container .pay-footer-child3 p{
    margin: 17px 0px;
}

.pay-footer .container .pay-footer-child3 .store{
    display: flex;
    justify-content: space-between;
}
.pay-footer .container .pay-footer-child3 .app,
.pay-footer .container .pay-footer-child3 .play{
    width: 49%;
    border: 2px solid rgb(20, 185, 20);
    padding: 5px 18px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pay-footer .container .pay-footer-child3 .app img,
.pay-footer .container .pay-footer-child3 .play img{
    width: 100%;
}

.pay-footer .container .pay-footer-child3 .pay img{
    width: 70%;
}

.pay-footer > p{
   text-align: center;
   padding: 20px 0;
   text-transform: capitalize;
}


