@media (max-width: 912px){
    .single-product .container{
       flex-direction: column;
       align-items: center;
       gap: 20px;
    }

    .single-product .container .images{
       width: 80%;
    }

    .single-product .container .details{
        width: 100%;
    }
    
}

@media (max-width: 540px){ 
    .hero .container h1{
        font-size: 50px;
    }

    .hero .container p{
        font-size: 15px;
    }

    .single-product .container .details h2,
    .single-product .container .details .details-parent span{
        font-size: 30px; 
    }
    

}

@media (max-width: 431px){
    .hero{
        background-position: 65% center;
    }

    .hero .container{
        display: block;
    }
}