@media (max-width: 1024px){
    table td img{
        width: 80px;
        height: 80px;
    }

    table th, table td{
        font-size: 14px
    }
}

@media (max-width: 540px){
    .collapse{
       display: none;
    }

    table th, table td{
        font-size: 12px
    }

    table td img{
        width: 60px;
        height: 60px;
    }
}