@media (max-width: 912px){
    .know-us .container .info h1{
       font-size: 40px;
    }
    .know-us .container .info > p{
       font-size: 16px;
    }
    
    .download .container .video video{
        width: 80%;
    }
}

@media (max-width: 540px){
    .know-us .container{
        flex-direction: column;
        align-items: center;
    }

    .know-us .container .image{
        width: 90%;
    }
    .know-us .container .info{
        margin-top: 10px;
        width: 100%;
    }

    .know-us .container .info h1,
    .download .container h2{
       font-size: 30px;
    }
    .know-us .container .info > p{
       font-size: 14px;
    }

    .download .container h2{
        padding: 0px 0 30px 0 ;
    }

    .download {
        padding-bottom: 10px;
    }
}