@media (max-width: 540px){
    .blog .container .blog-box{
        flex-direction: column;
        height: 500px;
    }

    .blog .container .blog-box .image,
    .blog .container .blog-box .info{
        width: 100%;  
    }
   
    .blog .container .blog-box .image{
        background-position: 50% 40%;
    }

    .blog .container .blog-box .info{
        padding: 0;
        margin: 15px 0px 0px 0px;
    }

    .blog .container .blog-box .info h2{
        font-size: 20px;
    }
    .blog .container .blog-box .info p{
        font-size: 18px;
    }
}

@media (max-width: 431px){
    .blog .container .blog-box .info h2{
        font-size: 19px;
    }
    .blog .container .blog-box .info p{
        font-size: 18px;
    }
}